.container {
  position: relative;
  box-sizing: border-box;
  flex: 1;
  border-radius: var(--shape-corner-medium);
  gap: 1rem;
  display: flex;
  flex-flow: column nowrap;
  border: none;
  padding: 1rem;
  background-color: var(--surface-container-low);
  backdrop-filter: blur(20px);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: var(--elevation-1);
  &:before {
    background-color: var(--surface-tint);
    border-radius: var(--shape-corner-medium);
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    content: '';
    opacity: 0.2;
    z-index: -1;
  }
  &Enabled {
    @extend .container;
    background-color: var(--surface-container);
    box-shadow: var(--elevation-1);
  }
  &Disabled {
    @extend .container;
    background-color: var(--surface-variant);
    box-shadow: var(--elevation-0);
    opacity: 0.38;
  }
}
