:root {
  --switch-input-thumb-size: 1.8rem;
  --switch-input-thumb-bg: var(--outline);
  --switch-input-thumb-stroke: 0.1rem solid var(--outline);
  --switch-input-off-bg: var(--surface-container-highest);
  --switch-input-off-text: var(--outline);
  --switch-input-on-bg: var(--primary);
  --switch-input-on-text: var(--on-primary);
  --switch-input-gutter: 0.1rem;
  --switch-input-decor-space: var(--switch-input-gutter) 1.5ch;
  --switch-input-focus-stroke: 0.1rem solid var(--secondary);
  --switch-input-font-weight: bold;
  --switch-input-font-family: sans-serif;
  --switch-input-font-size: 18cqw;
  --switch-input-transition: all 0.5s;
  --display-large-font-family-name: var(--play-display);
  --display-large-font-family-style: Regular;
  --display-large-font-weight: 200;
  --display-large-font-size: clamp(22px, 2rem, 3rem);
  --display-large-line-height: 64pt;
  --display-large-letter-spacing: -0.25pt;
  --display-medium-font-family-name: var(--play-display);
  --display-medium-font-family-style: Regular;
  --display-medium-font-weight: 400;
  --display-medium-font-size: 3rem;
  --display-medium-line-height: 52pt;
  --display-medium-letter-spacing: 0pt;
  --display-small-font-family-name: var(--play-display);
  --display-small-font-family-style: Regular;
  --display-small-font-weight: 200;
  --display-small-font-size: 2.5rem;
  --display-small-line-height: 44pt;
  --display-small-letter-spacing: 0pt;
  --headline-large-font-family-name: var(--josefa);
  --headline-large-font-family-style: Regular;
  --headline-large-font-weight: 400;
  --headline-large-font-size: 2.2rem;
  --headline-large-line-height: 40pt;
  --headline-large-letter-spacing: 0pt;
  --headline-medium-font-family-name: var(--josefa);
  --headline-medium-font-family-style: Regular;
  --headline-medium-font-weight: 400;
  --headline-medium-font-size: 2rem;
  --headline-medium-line-height: 36px;
  --headline-medium-letter-spacing: 0px;
  --headline-small-font-family-name: var(--josefa);
  --headline-small-font-family-style: Regular;
  --headline-small-font-weight: 400;
  --headline-small-font-size: 1.7rem;
  --headline-small-line-height: 32px;
  --headline-small-letter-spacing: 0px;
  --body-large-font-family-name: var(--raleway);
  --body-large-font-family-style: Regular;
  --body-large-font-weight: 400px;
  --body-large-font-size: 1.2rem;
  --body-large-line-height: 24px;
  --body-large-letter-spacing: 0.5px;
  --body-medium-font-family-name: var(--raleway);
  --body-medium-font-family-style: Regular;
  --body-medium-font-weight: 400;
  --body-medium-font-size: 1rem;
  --body-medium-line-height: 20px;
  --body-medium-letter-spacing: 0.25px;
  --body-small-font-family-name: var(--raleway);
  --body-small-font-family-style: Regular;
  --body-small-font-weight: 400;
  --body-small-font-size: 0.8rem;
  --body-small-line-height: 16pt;
  --body-small-letter-spacing: 0.4pt;
  --label-large-font-family-name: var(--raleway);
  --label-large-font-family-style: Medium;
  --label-large-font-weight: 800;
  --label-large-font-size: 1rem;
  --label-large-line-height: 20px;
  --label-large-letter-spacing: 0.1px;
  --label-medium-font-family-name: var(--ptserif);
  --label-medium-font-family-style: Medium;
  --label-medium-font-weight: 500;
  --label-medium-font-size: 0.8rem;
  --label-medium-line-height: 16px;
  --label-medium-letter-spacing: 0.5px;
  --label-small-font-family-name: var(--radio);
  --label-small-font-family-style: Medium;
  --label-small-font-weight: 500;
  --label-small-font-size: 0.7rem;
  --label-small-line-height: 16px;
  --label-small-letter-spacing: 0.5px;
  --title-large-font-family-name: var(--ptserif);
  --title-large-font-family-style: Medium;
  --title-large-font-weight: 700;
  --title-large-font-size: 1.5rem;
  --title-large-line-height: 28px;
  --title-large-letter-spacing: 0px;
  --title-medium-font-family-name: var(--ptserif);
  --title-medium-font-family-style: Medium;
  --title-medium-font-weight: 700;
  --title-medium-font-size: 1.1rem;
  --title-medium-line-height: 24px;
  --title-medium-letter-spacing: 0.15px;
  --title-small-font-family-name: var(--ptserif);
  --title-small-font-family-style: Medium;
  --title-small-font-weight: 700;
  --title-small-font-size: 1rem;
  --title-small-line-height: 20px;
  --title-small-letter-spacing: 0.1px;
  --md-custom-color-Custom-Color-1: #008471;
  --dp0: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  --dp1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --dp2: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --dp3: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  --dp4: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  --dp5: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  --dp6: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --dp7: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
    0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  --dp8: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  --dp9: 0px 5px 6px -3px rgba(0, 0, 0, 0.2),
    0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
  --dp10: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
    0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  --dp11: 0px 6px 7px -4px rgba(0, 0, 0, 0.2),
    0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
  --dp12: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
  --dp13: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
  --dp14: 0px 7px 9px -4px rgba(0, 0, 0, 0.2),
    0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
  --dp15: 0px 8px 9px -5px rgba(0, 0, 0, 0.2),
    0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
  --dp16: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  --dp17: 0px 8px 11px -5px rgba(0, 0, 0, 0.2),
    0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
  --dp18: 0px 9px 11px -5px rgba(0, 0, 0, 0.2),
    0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
  --dp19: 0px 9px 12px -6px rgba(0, 0, 0, 0.2),
    0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
  --dp20: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
  --dp21: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
  --dp22: 0px 10px 14px -6px rgba(0, 0, 0, 0.2),
    0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
  --dp23: 0px 11px 14px -7px rgba(0, 0, 0, 0.2),
    0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
  --dp24: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  --elevation-0: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  --elevation-1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --elevation-2: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  --elevation-3: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --elevation-4: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  --elevation-5: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
  --elevation-inset: 0px -5px 5px -3px rgba(0, 0, 0, 0.2) inset,
    0px -8px 10px 1px rgba(0, 0, 0, 0.14) inset,
    0px -3px 14px 2px rgba(0, 0, 0, 0.12) inset;
  --shape-corner-full: 3rem;
  --shape-corner-extra-large-top: 2rem 2rem 0 0;
  --shape-corner-extra-large-bottom: 0 0 2rem 2rem;
  --shape-corner-extra-large-end: 0 2rem 2rem 0;
  --shape-corner-extra-large-start: 2rem 0 0 2rem;
  --shape-corner-extra-large: 2rem;
  --shape-corner-medium: 0.8rem;
  --shape-corner-large: 1.2rem;
  --shape-corner-large-top: 1rem 1rem 0 0;
  --shape-corner-large-bottom: 0 0 1rem 1rem;
  --shape-corner-large-end: 0 1rem 1rem 0;
  --shape-corner-large-start: 1rem 0 0 1rem;
  --shape-corner-small: 0.6rem;
  --shape-corner-extra-small: 0.4rem;
}
@media (prefers-color-scheme: light) {
  :root {
    --primary: #5c6145;
    --surface-tint: rgb(92 97 69);
    --on-primary: rgb(255 255 255);
    --primary-container: rgb(233 237 201);
    --on-primary-container: rgb(103 108 79);
    --secondary: rgb(94 95 82);
    --on-secondary: rgb(255 255 255);
    --secondary-container: rgb(225 225 208);
    --on-secondary-container: rgb(98 100 86);
    --tertiary: rgb(78 99 84);
    --on-tertiary: rgb(255 255 255);
    --tertiary-container: rgb(216 240 220);
    --on-tertiary-container: rgb(89 110 94);
    --error: rgb(186 26 26);
    --on-error: rgb(255 255 255);
    --error-container: rgb(255 218 214);
    --on-error-container: rgb(147 0 10);
    --background: rgb(252 249 244);
    --on-background: rgb(28 28 25);
    --surface: rgb(252 249 244);
    --on-surface: rgb(28 28 25);
    --surface-variant: rgb(228 227 214);
    --on-surface-variant: rgb(71 71 62);
    --outline: rgb(120 120 109);
    --outline-variant: rgb(200 199 187);
    --shadow: rgb(0 0 0);
    --scrim: rgb(0 0 0);
    --inverse-surface: rgb(49 48 46);
    --inverse-on-surface: rgb(243 240 236);
    --inverse-primary: rgb(197 201 167);
    --primary-fixed: rgb(225 230 194);
    --on-primary-fixed: rgb(26 29 7);
    --primary-fixed-dim: rgb(197 201 167);
    --on-primary-fixed-variant: rgb(69 73 47);
    --secondary-fixed: rgb(228 227 210);
    --on-secondary-fixed: rgb(27 28 18);
    --secondary-fixed-dim: rgb(199 200 183);
    --on-secondary-fixed-variant: rgb(70 72 59);
    --tertiary-fixed: rgb(209 233 213);
    --on-tertiary-fixed: rgb(12 31 19);
    --tertiary-fixed-dim: rgb(181 204 185);
    --on-tertiary-fixed-variant: rgb(55 75 61);
    --surface-dim: rgb(220 218 213);
    --surface-bright: rgb(252 249 244);
    --surface-container-lowest: rgb(255 255 255);
    --surface-container-low: rgb(246 243 239);
    --surface-container: rgb(241 237 233);
    --surface-container-high: rgb(235 232 227);
    --surface-container-highest: rgb(229 226 222);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary: rgb(255 255 255);
    --surface-tint: rgb(197 201 167);
    --on-primary: rgb(46 50 26);
    --primary-container: rgb(225 230 194);
    --on-primary-container: rgb(98 103 74);
    --secondary: #c7c8b7;
    --on-secondary: rgb(48 49 38);
    --secondary-container: rgb(70 72 59);
    --on-secondary-container: rgb(182 182 166);
    --tertiary: rgb(255 255 255);
    --on-tertiary: rgb(33 53 39);
    --tertiary-container: rgb(209 233 213);
    --on-tertiary-container: rgb(84 105 90);
    --error: rgb(255 180 171);
    --on-error: rgb(105 0 5);
    --error-container: rgb(147 0 10);
    --on-error-container: rgb(255 218 214);
    --background: rgb(19 19 17);
    --on-background: rgb(229 226 222);
    --surface: rgb(19 19 17);
    --on-surface: rgb(229 226 222);
    --surface-variant: rgb(71 71 62);
    --on-surface-variant: rgb(200 199 187);
    --outline: rgb(145 145 134);
    --outline-variant: rgb(71 71 62);
    --shadow: rgb(0 0 0);
    --scrim: rgb(0 0 0);
    --inverse-surface: rgb(229 226 222);
    --inverse-on-surface: rgb(49 48 46);
    --inverse-primary: rgb(92 97 69);
    --primary-fixed: rgb(225 230 194);
    --on-primary-fixed: rgb(26 29 7);
    --primary-fixed-dim: rgb(197 201 167);
    --on-primary-fixed-variant: rgb(69 73 47);
    --secondary-fixed: rgb(228 227 210);
    --on-secondary-fixed: rgb(27 28 18);
    --secondary-fixed-dim: rgb(199 200 183);
    --on-secondary-fixed-variant: rgb(70 72 59);
    --tertiary-fixed: rgb(209 233 213);
    --on-tertiary-fixed: rgb(12 31 19);
    --tertiary-fixed-dim: rgb(181 204 185);
    --on-tertiary-fixed-variant: rgb(55 75 61);
    --surface-dim: rgb(19 19 17);
    --surface-bright: rgb(58 57 54);
    --surface-container-lowest: rgb(14 14 12);
    --surface-container-low: rgb(28 28 25);
    --surface-container: rgb(32 32 29);
    --surface-container-high: rgb(42 42 39);
    --surface-container-highest: rgb(53 53 50);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

:root,
html {
  box-sizing: border-box;
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
  /* Maximum resolution
  @media (-webkit-max-device-pixel-ratio: 3) {
    font-size: calc(100vw * 10 / 360);
  } */
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 1.5rem;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.news-card {
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  border-radius: var(--shape-corner-extra-large);
  overflow: hidden;
  padding: 3rem;
  box-shadow: var(--elevation-2);
  display: flex;
  flex-flow: row nowrap;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  color: white;
  padding: 1rem;
}

.nav-links a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  box-shadow: none;
  outline: var(--outline) solid 2px;
  outline-offset: 0.05em;
}
