.container {
  transition: all 0.5s;
  display: grid;
  width: 100vw;
  gap: 0.03rem;
  padding: 0;
  height: 100svh;
  box-sizing: border-box;
  background-color: var(--surface-container);
  grid-auto-flow: row;
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 48;
  grid-template-columns: 1fr;
  grid-template-areas: "top" "right" "right" "right" "left" "left" "left" "left" "left" "left" "left" "header"; /*
@media (width < 600px) {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(12, 1fr);
  padding: 0.5rem 0.5rem 0 0.5rem;
  gap: 0.2rem;
  grid-template-areas:
    'top top top top'
    'left left left left'
    'left left left left'
    'left left left left'
    'left left left left'
    'left left left left'
    'left left left left'
    'left left left left'
    'left left left left'
    'right right right right'
    'right right right right'
    'header header header header';
} */
}
@media (600px < width < 1200px) {
  .container {
    grid-template-columns: 5rem repeat(8, 1fr);
    grid-template-rows: repeat(12, minmax(4vh, 1fr));
    grid-template-areas: "header top top top top top top top top" "header left left left left left left right right" "header left left left left left left right right" "header left left left left left left right right" "header left left left left left left right right" "header left left left left left left right right" "header left left left left left left right right" "header left left left left left left right right" "header left left left left left left right right" "header left left left left left left right right" "header left left left left left left right right" "header left left left left left left right right";
  }
}
@media (1200px < width) {
  .container {
    padding: 0;
    gap: 1rem;
    grid-template-columns: 5rem repeat(9, minmax(8vw, 1fr));
    grid-template-rows: repeat(10, minmax(6svh, 1fr));
    grid-template-areas: "header top top top top top top top top top" "header left left left left left left right right right" "header left left left left left left right right right" "header left left left left left left right right right" "header left left left left left left right right right" "header left left left left left left right right right" "header left left left left left left right right right" "header left left left left left left right right right" "header left left left left left left right right right" "header left left left left left left right right right";
  }
}

.header {
  display: grid;
  transition: 300ms;
  align-content: space-evenly;
  justify-content: center;
  align-items: stretch;
  max-width: 100vw;
  justify-items: stretch;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  grid-area: header;
  gap: inherit;
  padding: 0.7rem;
}
.header .nav {
  display: grid;
  background-color: var(--nav-background);
}
@media (width < 600px) {
  .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }
}
@media (1200px < width) {
  .header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    gap: 0.8rem;
  }
}

.right {
  flex-wrap: nowrap;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-radius: var(--shape-corner-large);
  padding: 0.5rem;
  align-content: stretch;
  background-color: var(--surface);
  max-width: 100vw;
  grid-area: right;
  overflow: auto;
  gap: 1rem;
  box-sizing: border-box;
  box-shadow: var(--dp2);
}
@media (width < 600px) {
  .right {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
}

.top {
  display: flex;
  flex-flow: row nowrap;
  border-radius: var(--shape-corner-large);
  background-color: var(--surface-dim);
  max-width: 100vw;
  color: var(--on-surface);
  gap: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  grid-area: top;
}
.top:first-child {
  flex: 0 1 40%;
}
@media (width < 600px) {
  .top {
    flex-flow: row nowrap;
  }
}
@media (1200px < width) {
  .top {
    flex-flow: row nowrap;
  }
}

.left, .leftGrid, .leftColumn {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: var(--surface);
  grid-area: left;
  border-radius: var(--shape-corner-large);
  max-width: 100%;
  padding: 2vmin;
  overflow: auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  counter-reset: num;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-rows: 300px;
}
.leftColumn {
  flex-flow: column wrap;
}
.leftColumn > * {
  flex: 0 1 calc(50% - 4vmin);
}
.leftGrid {
  display: grid;
  padding: 0;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-area: left;
}
.left > *, .leftColumn > *, .leftGrid > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 20%;
  align-self: stretch;
  order: 0;
}
@media (width < 600px) {
  .left, .leftGrid, .leftColumn {
    display: flex;
    flex-flow: column nowrap;
  }
}

.divission {
  height: 100%;
  width: 5px;
  background-color: var(--oultine);
}

.link, .linkOpen, .linkOpenActive, .linkActive {
  box-sizing: border-box;
  text-decoration: none;
  border-radius: var(--shape-corner-small);
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-items: stretch;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  align-content: center;
  transition: all 0.3s;
}
.link > .icon, .linkOpen > .icon, .linkOpenActive > .icon, .linkActive > .icon {
  text-align: center;
  color: var(--on-surface-variant);
}
.link > .text, .linkOpen > .text, .linkOpenActive > .text, .linkActive > .text {
  opacity: 1;
  font-size: 0.7rem;
  font-variation-settings: "wght" 500;
  font-style: var(--label-medium-font-family-style);
  font-weight: var(--label-medium-font-weight);
  color: var(--on-surface-variant);
  letter-spacing: var(--label-medium-tracking);
  line-height: var(--label-medium-height);
  text-transform: var(--label-medium-text-transform);
  text-decoration: var(--label-medium-text-decoration);
}
.linkActive > .text {
  opacity: 1;
  color: var(--on-surface);
}
.linkActive > .icon {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
  width: 3.5rem;
  border-radius: 1rem;
  padding: 0.2rem 0;
  box-sizing: border-box;
}
.linkOpen, .linkOpenActive {
  width: 100%;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 0.8rem;
  padding: 1rem;
  box-sizing: border-box;
}
.linkOpenActive {
  width: 100%;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 0.8rem;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
}
.linkOpenActive > .text {
  opacity: 1;
  color: var(--on-secondary-container);
}
.linkOpenActive > .icon {
  width: 3.5rem;
  border-radius: 1rem;
  padding: 0.2rem 0;
  color: var(--on-secondary-container);
  box-sizing: b;
}
.link:hover > .text, .linkActive:hover > .text, .linkOpen:hover > .text, .linkOpenActive:hover > .text, .link:focus > .text, .linkActive:focus > .text, .linkOpen:focus > .text, .linkOpenActive:focus > .text, .link:active > .text, .linkActive:active > .text, .linkOpen:active > .text, .linkOpenActive:active > .text {
  opacity: 1;
}
.link:hover > .icon, .linkActive:hover > .icon, .linkOpen:hover > .icon, .linkOpenActive:hover > .icon, .link:focus > .icon, .linkActive:focus > .icon, .linkOpen:focus > .icon, .linkOpenActive:focus > .icon, .link:active > .icon, .linkActive:active > .icon, .linkOpen:active > .icon, .linkOpenActive:active > .icon {
  font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 200, "opsz" 40;
}
.link:hover:after, .linkActive:hover:after, .linkOpen:hover:after, .linkOpenActive:hover:after, .link:focus:after, .linkActive:focus:after, .linkOpen:focus:after, .linkOpenActive:focus:after, .link:active:after, .linkActive:active:after, .linkOpen:active:after, .linkOpenActive:active:after {
  transition: all 0.5s;
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  opacity: 0.08;
  background-color: var(--on-surface);
}
.link:hover:after, .linkActive:hover:after, .linkOpen:hover:after, .linkOpenActive:hover:after {
  opacity: 0.08;
}
.link:focus:after, .linkActive:focus:after, .linkOpen:focus:after, .linkOpenActive:focus:after, .link:active:after, .linkActive:active:after, .linkOpen:active:after, .linkOpenActive:active:after {
  opacity: 0.1;
}

.gridContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.loader {
  border: 10px solid var(--surface-container-high);
  /* Light grey */
  border-top: 10px solid var(--secondary);
  /* Blue */
  border-radius: 50vmin;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  animation: spin 2s linear infinite;
}
.loader > .loader {
  border: 16px solid var(--secondary-container);
  /* Light grey */
  border-top: 16px solid var(--secondary);
  /* Blue */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.section, .sectionColumn, .sectionRow {
  display: flex;
  border-radius: 2vmin;
  flex: 1;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
  padding: 0.5rem;
}
.sectionRow {
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.sectionColumn {
  flex-flow: column nowrap;
}
.section .label, .sectionRow .label, .sectionColumn .label {
  font-family: var(--play-display);
  flex: 1;
}
.section .titleInput, .sectionRow .titleInput, .sectionColumn .titleInput,
.section .title,
.sectionRow .title,
.sectionColumn .title {
  flex: 2;
}

.segment, .segmentRowWrap, .segmentRow, .segmentColumn, .segmentDetached {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;
  padding: 0.2rem;
  flex: 1;
  border-radius: var(--shape-corner-small);
  gap: 0.5rem;
}
.segmentDetached {
  flex-flow: column nowrap;
  position: absolute;
  right: 2rem;
  box-shadow: var(--dp6);
}
.segmentColumn {
  flex-flow: column nowrap;
}
@media (width < 600px) {
  .segmentColumn {
    flex-flow: row wrap;
  }
}
.segmentRow {
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.segmentRowWrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  justify-items: baseline;
  align-items: stretch;
  align-content: stretch;
}

.button, .buttonChip, .buttonActuacion, .buttonHome, .buttonModal, .buttonDrawerClosed, .buttonDrawer, .buttonBackwards, .buttonForward, .buttonPassiveCategory, .buttonActiveCategory, .buttonEdit {
  position: relative;
  box-sizing: border-box;
  border-radius: 1rem;
  gap: 0.5rem;
  padding: 1rem;
  flex-flow: column nowrap;
  justify-items: stretch;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  transition: all 0.3s;
  text-decoration: none;
  border: none;
  outline: inherit;
}
.button:after, .buttonChip:after, .buttonActuacion:after, .buttonHome:after, .buttonModal:after, .buttonDrawerClosed:after, .buttonDrawer:after, .buttonBackwards:after, .buttonForward:after, .buttonPassiveCategory:after, .buttonActiveCategory:after, .buttonEdit:after {
  content: "";
  opacity: 0;
}
.button > .icon, .buttonChip > .icon, .buttonActuacion > .icon, .buttonHome > .icon, .buttonModal > .icon, .buttonDrawerClosed > .icon, .buttonDrawer > .icon, .buttonBackwards > .icon, .buttonForward > .icon, .buttonPassiveCategory > .icon, .buttonActiveCategory > .icon, .buttonEdit > .icon {
  font-size: 1.1rem;
}
.button > .text, .buttonChip > .text, .buttonActuacion > .text, .buttonHome > .text, .buttonModal > .text, .buttonDrawerClosed > .text, .buttonDrawer > .text, .buttonBackwards > .text, .buttonForward > .text, .buttonPassiveCategory > .text, .buttonActiveCategory > .text, .buttonEdit > .text {
  font-family: var(--raleway);
  word-wrap: break-word;
  word-break: break-all;
  font-style: var(--label-medium-font-family-style);
  font-weight: var(--label-medium-font-weight);
  font-size: var(--label-medium-font-size);
  letter-spacing: var(--label-medium-tracking);
  line-height: var(--label-medium-height);
  text-transform: var(--label-medium-text-transform);
  text-decoration: var(--label-medium-text-decoration);
}
@media (600px < width < 1200px) {
  .button, .buttonChip, .buttonActuacion, .buttonHome, .buttonModal, .buttonDrawerClosed, .buttonDrawer, .buttonBackwards, .buttonForward, .buttonPassiveCategory, .buttonActiveCategory, .buttonEdit {
    flex-flow: row nowrap;
  }
}
.buttonEdit {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
}
.buttonActiveCategory {
  flex-flow: column nowrap;
  flex: 2;
  background-color: var(--secondary-container);
}
.buttonActiveCategory > .icon {
  color: var(--on-secondary-container);
}
.buttonActiveCategory > .text {
  color: var(--on-surface);
}
.buttonPassiveCategory {
  flex: 1;
  flex-flow: column nowrap;
  background-color: var(--surface-container-high);
  color: var(--secondary);
}
.buttonPassiveCategory > .icon {
  color: var(--secondary);
}
.buttonPassiveCategory > .text {
  color: var(--on-surface);
}
.buttonForward {
  padding: 0;
  flex-flow: row nowrap;
  background-color: var(--primary-container);
  color: var(--on-primary-container);
}
.buttonForward > .icon, .buttonForward > .text {
  color: var(--on-primary-container);
}
.buttonBackwards {
  padding: 0;
  flex-flow: row nowrap;
  background-color: var(--primary-container);
  color: var(--on-primary-container);
}
.buttonBackwards > .icon, .buttonBackwards > .text {
  color: var(--on-primary-container);
}
.buttonDrawer {
  border: none;
}
.buttonDrawerClosed {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.buttonDrawerClosed > .icon, .buttonDrawerClosed > .text {
  filter: drop-shadow(var(--scrim));
  color: var(--on-surface-variant);
}
.buttonDrawerClosed:hover:after {
  background-color: var(--surface-variant);
}
.buttonDrawerClosed:focus:after, .buttonDrawerClosed:active:after {
  background-color: var(--surface-variant);
}
.buttonDrawerOpen {
  background-color: var(--secondary);
}
.buttonModal {
  background-color: var(--primary-container);
  color: var(--on-primary-container);
}
.buttonModal > .icon, .buttonModal > .text {
  color: var(--on-primary-container);
}
.buttonModal:hover {
  background-color: var(--surface-container);
  box-shadow: var(--dp8);
}
.buttonModal:hover:after {
  background-color: var(--on-primary);
}
.buttonModal:focus, .buttonModal:active {
  box-shadow: var(--dp9);
}
.buttonModal:focus:after, .buttonModal:active:after {
  background-color: var(--on-primary-container);
}
.buttonHome {
  box-shadow: var(--dp2);
  background-color: var(--primary);
  color: var(--on-primary);
}
.buttonHome > .icon, .buttonHome > .text {
  color: var(--on-primary);
}
.buttonActuacion {
  flex: 0 1 auto;
}
.buttonChip {
  height: minmax(2rem, 3rem);
  flex: 0 1 auto;
  box-sizing: border-box;
}
.button:hover > .icon, .buttonEdit:hover > .icon, .buttonActiveCategory:hover > .icon, .buttonPassiveCategory:hover > .icon, .buttonForward:hover > .icon, .buttonBackwards:hover > .icon, .buttonDrawer:hover > .icon, .buttonDrawerClosed:hover > .icon, .buttonModal:hover > .icon, .buttonHome:hover > .icon, .buttonActuacion:hover > .icon, .buttonChip:hover > .icon {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  color: var(--primary-container);
}
.button:hover:after, .buttonEdit:hover:after, .buttonActiveCategory:hover:after, .buttonPassiveCategory:hover:after, .buttonForward:hover:after, .buttonBackwards:hover:after, .buttonDrawer:hover:after, .buttonDrawerClosed:hover:after, .buttonModal:hover:after, .buttonHome:hover:after, .buttonActuacion:hover:after, .buttonChip:hover:after {
  transition: all 0.5s;
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  opacity: 0.08;
}
.button:focus:after, .buttonEdit:focus:after, .buttonActiveCategory:focus:after, .buttonPassiveCategory:focus:after, .buttonForward:focus:after, .buttonBackwards:focus:after, .buttonDrawer:focus:after, .buttonDrawerClosed:focus:after, .buttonModal:focus:after, .buttonHome:focus:after, .buttonActuacion:focus:after, .buttonChip:focus:after, .button:active:after, .buttonEdit:active:after, .buttonActiveCategory:active:after, .buttonPassiveCategory:active:after, .buttonForward:active:after, .buttonBackwards:active:after, .buttonDrawer:active:after, .buttonDrawerClosed:active:after, .buttonModal:active:after, .buttonHome:active:after, .buttonActuacion:active:after, .buttonChip:active:after {
  transition: all 0.5s;
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}
